<style>
    :root[data-theme="dark"] .select2-container--default .select2-selection--multiple {
        background-color: #333;
        border-color: #555;
    }
    :root[data-theme="dark"] .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #555;
        border-color: #777;
        color: #fff;
    }
    :root[data-theme="dark"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #fff;
    }
    :root[data-theme="dark"] .select2-dropdown {
        background-color: #333;
        border-color: #555;
    }
    :root[data-theme="dark"] .select2-search--dropdown .select2-search__field {
        background-color: #444;
        color: #fff;
        border-color: #555;
    }
    :root[data-theme="dark"] .select2-results__option {
        color: #fff;
    }
    :root[data-theme="dark"] .select2-results__option--highlighted {
        background-color: #555;
    }
</style>
<div class="related-widget-wrapper">
    <select name="{{ widget.name }}" id="id_{{ widget.name }}" multiple="multiple" class="selectfilter">
        {% for choice in widget.choices %}
            <option value="{{ choice.value }}" {% if choice.value in widget.value %}selected="selected"{% endif %}>{{ choice.label }}</option>
        {% endfor %}
    </select>
</div>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $('#id_{{ widget.name }}').select2({
            placeholder: 'Select languages',
            allowClear: true,
            width: 'resolve'
        });
    });
})(django.jQuery);
</script>